@import "tailwindcss";

/* Add custom styles below */
html,
body,
#__next {
  height: 100%;
  overflow: hidden;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#__next {
  overflow: hidden;
  height: 100vh;
}
@keyframes slideInRight {
  from {
    transform: translateX(1rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
