@import "tailwindcss";

/* Add custom styles below */
html,
body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  overflow-y: auto;
}

body {
  overflow-y: auto;
  margin: 0;
  padding: 0;
  height: 100%;
}

#__next {
  min-height: 100%;
}
@keyframes slideInRight {
  from {
    transform: translateX(1rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
